// Шрифты
$font: 'Open Sans', sans-serif;

// Цвета
$green-base: #aaeb8d;
$green-hover: #00995c;
$green-dark: #00663d;
$green-text: #f2faf6;
$green-shadow: #18995d80;
$text-base-color: #66787f;
$border-color: #e5eeec;
$shadow: #596b74;
$tab-background: #ebebeb;
$input-background: #f3f3f3;
$button-text-color: #69575a;